.bet {
  font-size: 1em;
  padding: .5em;
  margin-bottom: .5em;
  border: 1px solid black;
  border-radius: 5px;
}

.bet.finished {
  opacity: .5;
}

.bet.clickable {
  cursor: pointer;
}

.bet--header {
  display: flex;
  font-size: 1.5em;
}

.bet--title {
   flex: 1; 
}

.bet--date {
  justify-content: flex-end;
}

.bet--content {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.bet.winner .bet--content {
  color: var(--green);
}

.bet.looser .bet--content {
  color: var(--red);
}

.bet--content div {
  margin-right: .5em;
}

.bet.finished .bet--team.victorious {
  color: var(--green);
}

.bet.finished .bet--team.looser {
  color: var(--red);
}