.picker {
  display: flex;
  flex-direction: column;
  padding: .25em;
}

.picker select {
  border: none;
  border-radius: 3px;
  border: 1px solid var(--grey-2);
  padding: 5px;
  font-size: 1.15em;
}

.picker select:active,
.picker select:focus {
  border: 1px solid var(--grey-3);
}

.picker label {
  font-size: 1.25em;
  margin-bottom: 0.3em;
}

.picker.small {
  max-width: 16em;
}

.picker.medium {
  max-width: 24em;
}

.picker.big {
  max-width: 32em;
}