.field {
  display: flex;
  flex-direction: column;
  padding: .25em;
}

.field input {
  border: none;
  border-radius: 3px;
  border: 1px solid var(--grey-2);
  padding: 5px;
  font-size: 1.15em;
}

.field input:active,
.field input:focus {
  border: 1px solid var(--grey-3);
}

.field label {
  font-size: 1.25em;
  margin-bottom: 0.3em;
}

.field.small {
  max-width: 16em;
}

.field.medium {
  max-width: 24em;
}

.field.big {
  max-width: 32em;
}